* {
    font-family: poppins, sans-serif
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em
}

h1,
h2,
h3 {
    font-family: oswald, sans-serif;
    text-transform: uppercase
}

h4,
h5,
h6 {
    font-weight: 700
}

label {
    font-weight: 300
}

#main-navbar {
    background-color: rgba(102, 0, 230, .8)
}

#mobile-nav {
    background-color: rgba(20, 20, 20, .8);
    width: 94%;
    justify-content: center;
    margin: 0 auto;
    bottom: .5em
}

.glassmorphism {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px)
}

.corner-round {
    border-radius: 1em
}

.corner-round-sm {
    border-radius: .5em
}

.mobile-margin {
    height: 65px;
    width: 100%
}

.top-banner {
    background: url(../images/banner-bg.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.parallax {
    background-image: url(../images/liquid-bg.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.parallax-2 {
    background-image: url(../images/banner-bg.webp)
}

.img-banner{
    height: 800px;
}